useDynLib(vol2birdR, .registration = TRUE)
import(methods, Rcpp)
exportPattern("^[[:alpha:]]+")

export(PolarVolume)
export(RaveIO)
export(Vol2Bird)
export(Vol2BirdConfig)
export(get_install_urls)
export(install_mistnet)
export(install_mistnet_from_file)
export(install_mistnet_nexrad)
export(mistnet_exists)
export(torch_install_path)
export(vol2bird_config)
import(assertthat)
importFrom(utils, str)
importFrom("utils", "capture.output")
importFrom(rlang,abort)
